<a href="https://colab.research.google.com/github/ynkim0/Stock_and_Financial_Statements/blob/main/Finance.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

https://psystat.tistory.com/151

In [2]:
!pip install -U finance-datareader
!pip install pykrx
!pip install yfinance

Looking in indexes: https://pypi.org/simple, https://us-python.pkg.dev/colab-wheels/public/simple/
Collecting finance-datareader
  Downloading finance_datareader-0.9.50-py3-none-any.whl (19 kB)
Collecting requests-file
  Downloading requests_file-1.5.1-py2.py3-none-any.whl (3.7 kB)
Requirement already satisfied: pandas>=0.19.2 in /usr/local/lib/python3.8/dist-packages (from finance-datareader) (1.3.5)
Requirement already satisfied: lxml in /usr/local/lib/python3.8/dist-packages (from finance-datareader) (4.9.1)
Requirement already satisfied: tqdm in /usr/local/lib/python3.8/dist-packages (from finance-datareader) (4.64.1)
Requirement already satisfied: requests>=2.3.0 in /usr/local/lib/python3.8/dist-packages (from finance-datareader) (2.23.0)
Requirement already satisfied: python-dateutil>=2.7.3 in /usr/local/lib/python3.8/dist-packages (from pandas>=0.19.2->finance-datareader) (2.8.2)
Requirement already satisfied: pytz>=2017.3 in /usr/local/lib/python3.8/dist-packages (from pandas>=0.19.2->finance-datareader) (2022.6)
Requirement already satisfied: numpy>=1.17.3 in /usr/local/lib/python3.8/dist-packages (from pandas>=0.19.2->finance-datareader) (1.21.6)
Requirement already satisfied: six>=1.5 in /usr/local/lib/python3.8/dist-packages (from python-dateutil>=2.7.3->pandas>=0.19.2->finance-datareader) (1.15.0)
Requirement already satisfied: chardet<4,>=3.0.2 in /usr/local/lib/python3.8/dist-packages (from requests>=2.3.0->finance-datareader) (3.0.4)
Requirement already satisfied: urllib3!=1.25.0,!=1.25.1,<1.26,>=1.21.1 in /usr/local/lib/python3.8/dist-packages (from requests>=2.3.0->finance-datareader) (1.24.3)
Requirement already satisfied: idna<3,>=2.5 in /usr/local/lib/python3.8/dist-packages (from requests>=2.3.0->finance-datareader) (2.10)
Requirement already satisfied: certifi>=2017.4.17 in /usr/local/lib/python3.8/dist-packages (from requests>=2.3.0->finance-datareader) (2022.9.24)
Installing collected packages: requests-file, finance-datareader
Successfully installed finance-datareader-0.9.50 requests-file-1.5.1
Looking in indexes: https://pypi.org/simple, https://us-python.pkg.dev/colab-wheels/public/simple/
Collecting pykrx
  Downloading pykrx-1.0.39-py3-none-any.whl (125 kB)
     |████████████████████████████████| 125 kB 12.9 MB/s
Collecting datetime
  Downloading DateTime-4.7-py2.py3-none-any.whl (52 kB)
     |████████████████████████████████| 52 kB 987 kB/s
Requirement already satisfied: numpy in /usr/local/lib/python3.8/dist-packages (from pykrx) (1.21.6)
Requirement already satisfied: pandas in /usr/local/lib/python3.8/dist-packages (from pykrx) (1.3.5)
Requirement already satisfied: xlrd in /usr/local/lib/python3.8/dist-packages (from pykrx) (1.1.0)
Collecting deprecated
  Downloading Deprecated-1.2.13-py2.py3-none-any.whl (9.6 kB)
Requirement already satisfied: requests in /usr/local/lib/python3.8/dist-packages (from pykrx) (2.23.0)
Collecting zope.interface
  Downloading zope.interface-5.5.2-cp38-cp38-manylinux_2_5_x86_64.manylinux1_x86_64.manylinux_2_12_x86_64.manylinux2010_x86_64.whl (261 kB)
     |████████████████████████████████| 261 kB 59.8 MB/s
Requirement already satisfied: pytz in /usr/local/lib/python3.8/dist-packages (from datetime->pykrx) (2022.6)
Requirement already satisfied: wrapt<2,>=1.10 in /usr/local/lib/python3.8/dist-packages (from deprecated->pykrx) (1.14.1)
Requirement already satisfied: python-dateutil>=2.7.3 in /usr/local/lib/python3.8/dist-packages (from pandas->pykrx) (2.8.2)
Requirement already satisfied: six>=1.5 in /usr/local/lib/python3.8/dist-packages (from python-dateutil>=2.7.3->pandas->pykrx) (1.15.0)
Requirement already satisfied: chardet<4,>=3.0.2 in /usr/local/lib/python3.8/dist-packages (from requests->pykrx) (3.0.4)
Requirement already satisfied: certifi>=2017.4.17 in /usr/local/lib/python3.8/dist-packages (from requests->pykrx) (2022.9.24)
Requirement already satisfied: idna<3,>=2.5 in /usr/local/lib/python3.8/dist-packages (from requests->pykrx) (2.10)
Requirement already satisfied: urllib3!=1.25.0,!=1.25.1,<1.26,>=1.21.1 in /usr/local/lib/python3.8/dist-packages (from requests->pykrx) (1.24.3)
Requirement already satisfied: setuptools in /usr/local/lib/python3.8/dist-packages (from zope.interface->datetime->pykrx) (57.4.0)
Installing collected packages: zope.interface, deprecated, datetime, pykrx
Successfully installed datetime-4.7 deprecated-1.2.13 pykrx-1.0.39 zope.interface-5.5.2
Looking in indexes: https://pypi.org/simple, https://us-python.pkg.dev/colab-wheels/public/simple/
Collecting yfinance
  Downloading yfinance-0.1.87-py2.py3-none-any.whl (29 kB)
Requirement already satisfied: numpy>=1.15 in /usr/local/lib/python3.8/dist-packages (from yfinance) (1.21.6)
Requirement already satisfied: appdirs>=1.4.4 in /usr/local/lib/python3.8/dist-packages (from yfinance) (1.4.4)
Requirement already satisfied: multitasking>=0.0.7 in /usr/local/lib/python3.8/dist-packages (from yfinance) (0.0.11)
Requirement already satisfied: pandas>=0.24.0 in /usr/local/lib/python3.8/dist-packages (from yfinance) (1.3.5)
Collecting requests>=2.26
  Downloading requests-2.28.1-py3-none-any.whl (62 kB)
     |████████████████████████████████| 62 kB 722 kB/s
Requirement already satisfied: lxml>=4.5.1 in /usr/local/lib/python3.8/dist-packages (from yfinance) (4.9.1)
Requirement already satisfied: python-dateutil>=2.7.3 in /usr/local/lib/python3.8/dist-packages (from pandas>=0.24.0->yfinance) (2.8.2)
Requirement already satisfied: pytz>=2017.3 in /usr/local/lib/python3.8/dist-packages (from pandas>=0.24.0->yfinance) (2022.6)
Requirement already satisfied: six>=1.5 in /usr/local/lib/python3.8/dist-packages (from python-dateutil>=2.7.3->pandas>=0.24.0->yfinance) (1.15.0)
Requirement already satisfied: certifi>=2017.4.17 in /usr/local/lib/python3.8/dist-packages (from requests>=2.26->yfinance) (2022.9.24)
Requirement already satisfied: charset-normalizer<3,>=2 in /usr/local/lib/python3.8/dist-packages (from requests>=2.26->yfinance) (2.1.1)
Requirement already satisfied: urllib3<1.27,>=1.21.1 in /usr/local/lib/python3.8/dist-packages (from requests>=2.26->yfinance) (1.24.3)
Requirement already satisfied: idna<4,>=2.5 in /usr/local/lib/python3.8/dist-packages (from requests>=2.26->yfinance) (2.10)
Installing collected packages: requests, yfinance
  Attempting uninstall: requests
    Found existing installation: requests 2.23.0
    Uninstalling requests-2.23.0:
      Successfully uninstalled requests-2.23.0
Successfully installed requests-2.28.1 yfinance-0.1.87

In [5]:
from datetime import datetime

In [1]:
import FinanceDataReader as fdr
from pykrx import stock
import pandas_datareader.data as pdr
import yfinance as yf

In [6]:
import time

In [2]:
start_date = "2020-01-01"
end_date = "2022-12-07"

In [3]:
# 가장 최근 영업일의 시장별 종목리스트를 가져옴
stocks = fdr.StockListing('KRX') # 코스피, 코스닥, 코넥스 전체
stocks

,Code,ISU_CD,Name,Market,Dept,Close,ChangeCode,Changes,ChagesRatio,Open,High,Low,Volume,Amount,Marcap,Stocks,MarketId
0,005930,KR7005930003,삼성전자,KOSPI,,58900,2,-300,-0.51,58800,59600,58500,12100662,714083283900,351620192195000,5969782550,STK
1,373220,KR7373220003,LG에너지솔루션,KOSPI,,563000,1,4000,0.72,558000,565000,553000,209953,117438901000,131742000000000,234000000,STK
2,207940,KR7207940008,삼성바이오로직스,KOSPI,,831000,2,-7000,-0.84,836000,841000,820000,42158,35020047000,59145594000000,71174000,STK
3,000660,KR7000660001,SK하이닉스,KOSPI,,78900,2,-2100,-2.59,79900,80700,78700,3589926,284643046300,57439386598500,728002365,STK
4,006400,KR7006400006,삼성SDI,KOSPI,,708000,1,2000,0.28,706000,715000,700000,173357,122943445000,48685287240000,68764530,STK
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2678,215050,KR7215050006,비엔디생활건강,KONEX,일반기업부,912,0,0,0.00,0,0,0,0,0,1934959392,2121666,KNX
2679,288490,KR7288490006,나라소프트,KONEX,일반기업부,49,2,-1,-2.00,51,51,46,2741,130458,1869203000,38147000,KNX
2680,267810,KR7267810000,앙츠,KONEX,일반기업부,1000,2,-130,-11.50,1000,1000,1000,2,2000,1787000000,1787000,KNX
2681,267060,KR7267060002,명진홀딩스,KONEX,일반기업부,181,0,0,0.00,0,0,0,0,0,1654666524,9141804,KNX
2682,329020,KR7329020002,오션스톤,KONEX,일반기업부,1800,0,0,0.00,0,0,0,0,0,1503273600,835152,KNX

In [34]:
stocks_list = stocks['Code'].tolist()
print(len(stocks_list))

2683

In [35]:
# KRX stock delisting symbol list 상장폐지 종목 전체 리스트
krx_delisting = fdr.StockListing('KRX-DELISTING')

In [36]:
krx_delisting = krx_delisting.loc[krx_delisting['DelistingDate'] >= datetime(2020, 1, 1)]
stocks_list.extend(krx_delisting['Symbol'].tolist())
print(len(stocks_list))

3085

In [37]:
stocks_dic = {}
for stock in stocks_list:
  df_fdr = fdr.DataReader(stock, start=start_date, end=end_date)
  if not df_fdr.empty:
    stocks_dic[stock] = df_fdr

"0791601A" invalid symbol or has no data
"3655501B" invalid symbol or has no data
"1305001B" invalid symbol or has no data
"2948701A" invalid symbol or has no data
"0827401C" invalid symbol or has no data
"1196501B" invalid symbol or has no data
"0000401A" invalid symbol or has no data
"2184101B" invalid symbol or has no data
"3954001C" invalid symbol or has no data
"0118101B" invalid symbol or has no data
"0005001C" invalid symbol or has no data
"2177301B" invalid symbol or has no data
"0539501C" invalid symbol or has no data
"0901501B" invalid symbol or has no data
"0076901B" invalid symbol or has no data
"3077501B" invalid symbol or has no data
"0948601B" invalid symbol or has no data
"2906601A" invalid symbol or has no data
"1947001C" invalid symbol or has no data
"0682401B" invalid symbol or has no data
"0682401C" invalid symbol or has no data
"2903801C" invalid symbol or has no data
"0014401C" invalid symbol or has no data
"0034901A" invalid symbol or has no data
"0034901B" invalid symbol or has no data
"0058801B" invalid symbol or has no data
"0041401B" invalid symbol or has no data
"0026901B" invalid symbol or has no data
"0340201A" invalid symbol or has no data
"0340201C" invalid symbol or has no data
"3362601A" invalid symbol or has no data
"1926501A" invalid symbol or has no data
"1271201A" invalid symbol or has no data
"2151001B" invalid symbol or has no data
"3305901B" invalid symbol or has no data
"0277401A" invalid symbol or has no data
"0277401B" invalid symbol or has no data
"1955001B" invalid symbol or has no data
"3770301C" invalid symbol or has no data
"0889801A" invalid symbol or has no data
"0889801B" invalid symbol or has no data
"0541801B" invalid symbol or has no data
"0869001A" invalid symbol or has no data
"0581101B" invalid symbol or has no data
"0171801A" invalid symbol or has no data
"1189901A" invalid symbol or has no data
"1427601A" invalid symbol or has no data
"0038501B" invalid symbol or has no data
"0020701A" invalid symbol or has no data
"2079401C" invalid symbol or has no data
"0101401B" invalid symbol or has no data
"0024201C" invalid symbol or has no data
"0530601B" invalid symbol or has no data
"0279701A" invalid symbol or has no data
"1452101A" invalid symbol or has no data
"3363701C" invalid symbol or has no data
"3363702C" invalid symbol or has no data
"2939401A" invalid symbol or has no data
"2939401C" invalid symbol or has no data
"2228001A" invalid symbol or has no data
"1022801A" invalid symbol or has no data
"0102801B" invalid symbol or has no data
"0508901B" invalid symbol or has no data
"2970901C" invalid symbol or has no data
"1126101B" invalid symbol or has no data
"1154801B" invalid symbol or has no data
"0121701B" invalid symbol or has no data
"1230101C" invalid symbol or has no data
"1854901B" invalid symbol or has no data
"1752501C" invalid symbol or has no data
"3478601C" invalid symbol or has no data
"2174801C" invalid symbol or has no data
"0959101B" invalid symbol or has no data
"1096101A" invalid symbol or has no data
"2343001B" invalid symbol or has no data
"2343001A" invalid symbol or has no data
"0520201C" invalid symbol or has no data
"2886201A" invalid symbol or has no data
"2986901A" invalid symbol or has no data
"2986901B" invalid symbol or has no data
"2986901C" invalid symbol or has no data
"0546301B" invalid symbol or has no data
"2007101A" invalid symbol or has no data
"0283001A" invalid symbol or has no data
"0283001C" invalid symbol or has no data
"0895301B" invalid symbol or has no data
"2302401A" invalid symbol or has no data
"0645101A" invalid symbol or has no data
"1285401C" invalid symbol or has no data
"2475401C" invalid symbol or has no data
"0381101B" invalid symbol or has no data
"1834902B" invalid symbol or has no data
"0098101A" invalid symbol or has no data
HTTP Error 404: Not Found  - symbol "CYM0801A"not found or invalid periods
"0669701A" invalid symbol or has no data
"0669701B" invalid symbol or has no data
"3232301B" invalid symbol or has no data
"0333101B" invalid symbol or has no data
"0655001B" invalid symbol or has no data
"0392001C" invalid symbol or has no data
"1180001B" invalid symbol or has no data
"0100501A" invalid symbol or has no data
"0952701A" invalid symbol or has no data
"1422101C" invalid symbol or has no data
"2066501A" invalid symbol or has no data
"2630501C" invalid symbol or has no data
"2157901A" invalid symbol or has no data
"0076601B" invalid symbol or has no data
"0059501A" invalid symbol or has no data
"0911201C" invalid symbol or has no data
"2940901B" invalid symbol or has no data
"0332301A" invalid symbol or has no data
"1893001B" invalid symbol or has no data
"0207601B" invalid symbol or has no data
"0207601C" invalid symbol or has no data
"2216101A" invalid symbol or has no data
"0439101B" invalid symbol or has no data
"2892201B" invalid symbol or has no data
"3174001B" invalid symbol or has no data
"1100201A" invalid symbol or has no data
"2081401A" invalid symbol or has no data
"3489501C" invalid symbol or has no data
"0256201B" invalid symbol or has no data
"0895901A" invalid symbol or has no data
"0895901B" invalid symbol or has no data
"0895901C" invalid symbol or has no data
"0184701B" invalid symbol or has no data
"0333401A" invalid symbol or has no data
"20484019" invalid symbol or has no data
"0516301C" invalid symbol or has no data
"2724501A" invalid symbol or has no data
"2724501B" invalid symbol or has no data
"01100019" invalid symbol or has no data
"0110001A" invalid symbol or has no data
"0110001B" invalid symbol or has no data
"0663601B" invalid symbol or has no data
"0332501A" invalid symbol or has no data
"0478201A" invalid symbol or has no data
"2846201C" invalid symbol or has no data
"1053301A" invalid symbol or has no data
"2254301A" invalid symbol or has no data
"3571201C" invalid symbol or has no data
"0786501A" invalid symbol or has no data
"1928201B" invalid symbol or has no data
"0054201C" invalid symbol or has no data
"0030701C" invalid symbol or has no data
"1218501C" invalid symbol or has no data
"0318201B" invalid symbol or has no data
"2144201B" invalid symbol or has no data
"0261501B" invalid symbol or has no data
"0918102A" invalid symbol or has no data
"0918101A" invalid symbol or has no data
"0918101C" invalid symbol or has no data
"0048701B" invalid symbol or has no data
"2083401B" invalid symbol or has no data
"0328001B" invalid symbol or has no data
"0870101A" invalid symbol or has no data
"0166701A" invalid symbol or has no data
"0036701A" invalid symbol or has no data
"2341001C" invalid symbol or has no data
"2201001A" invalid symbol or has no data
"2201001C" invalid symbol or has no data
"0578801B" invalid symbol or has no data
"0331801B" invalid symbol or has no data
"0673101B" invalid symbol or has no data
"0391301C" invalid symbol or has no data
"3528201B" invalid symbol or has no data
"2568401C" invalid symbol or has no data
"0807201A" invalid symbol or has no data
"0023201A" invalid symbol or has no data
"0051101A" invalid symbol or has no data
"0026801C" invalid symbol or has no data
"0098301B" invalid symbol or has no data
"2722101B" invalid symbol or has no data
"0766101B" invalid symbol or has no data
"0849901A" invalid symbol or has no data
"0007201B" invalid symbol or has no data
"0426701B" invalid symbol or has no data
"0110801C" invalid symbol or has no data
"0605601B" invalid symbol or has no data
"1151601B" invalid symbol or has no data
"0050101C" invalid symbol or has no data
"07661219" invalid symbol or has no data
"75701B93" invalid symbol or has no data
"75702B93" invalid symbol or has no data
"71901B92" invalid symbol or has no data
"71903B92" invalid symbol or has no data
"71902B92" invalid symbol or has no data
"75901BB7" invalid symbol or has no data
"08280218" invalid symbol or has no data
"06679217" invalid symbol or has no data
"70101781" invalid symbol or has no data
"04204217" invalid symbol or has no data
"0340221B" invalid symbol or has no data
"74703B96" invalid symbol or has no data
"74702B96" invalid symbol or has no data
"74704B96" invalid symbol or has no data
"04267217" invalid symbol or has no data
"74401773" invalid symbol or has no data
"00004217" invalid symbol or has no data
"00306217" invalid symbol or has no data
"70901B95" invalid symbol or has no data
"70902B95" invalid symbol or has no data
"70903B95" invalid symbol or has no data
"03402217" invalid symbol or has no data
"2696221B" invalid symbol or has no data
"0663621A" invalid symbol or has no data
"05242217" invalid symbol or has no data
"00064217" invalid symbol or has no data
"01800219" invalid symbol or has no data
"01193219" invalid symbol or has no data
"10961219" invalid symbol or has no data
"02758217" invalid symbol or has no data
"09664218" invalid symbol or has no data
"74701772" invalid symbol or has no data
"74702772" invalid symbol or has no data
"74401722" invalid symbol or has no data
"74702B98" invalid symbol or has no data
"74701B98" invalid symbol or has no data
"74201767" invalid symbol or has no data
"74202767" invalid symbol or has no data
"05011217" invalid symbol or has no data
"71301A1B" invalid symbol or has no data
"06451219" invalid symbol or has no data
"00263217" invalid symbol or has no data
"03662216" invalid symbol or has no data
"13176218" invalid symbol or has no data
"74701B8B" invalid symbol or has no data
"74701B96" invalid symbol or has no data
"12687219" invalid symbol or has no data
"14107217" invalid symbol or has no data
"72504A3B" invalid symbol or has no data
"75602782" invalid symbol or has no data
"75601782" invalid symbol or has no data
"00263218" invalid symbol or has no data
"12304216" invalid symbol or has no data
"00102216" invalid symbol or has no data
"7010177A" invalid symbol or has no data
"74701786" invalid symbol or has no data
"74701784" invalid symbol or has no data
"04320215" invalid symbol or has no data
"70901789" invalid symbol or has no data
"72501B95" invalid symbol or has no data
"72502B95" invalid symbol or has no data
"72503B95" invalid symbol or has no data
"75601776" invalid symbol or has no data
"75602776" invalid symbol or has no data
"02739218" invalid symbol or has no data
"7470177C" invalid symbol or has no data
"01116218" invalid symbol or has no data
"73801A72" invalid symbol or has no data
"01116217" invalid symbol or has no data
"72503A3B" invalid symbol or has no data
"74201B91" invalid symbol or has no data
"74701779" invalid symbol or has no data
"06679217" invalid symbol or has no data

In [38]:
len(stocks_dic)

2825

In [40]:
stocks_dic['373220']

              Open    High     Low   Close    Volume    Change
Date
2022-01-27  597000  598000  450000  505000  15946992       NaN
2022-01-28  476000  483000  445000  450000   4559773 -0.108911
2022-02-03  458000  495500  441000  477000   2918435  0.060000
2022-02-04  476500  505000  476000  504000   2088996  0.056604
2022-02-07  520000  548000  511000  548000   1911176  0.087302
...            ...     ...     ...     ...       ...       ...
2022-12-01  589000  591000  579000  585000    360664 -0.003407
2022-12-02  585000  590000  578000  584000    239024 -0.001709
2022-12-05  582000  582000  562000  562000    370292 -0.037671
2022-12-06  555000  568000  553000  559000    249853 -0.005338
2022-12-07  558000  565000  553000  563000    209336  0.007156

[212 rows x 6 columns]

In [41]:
import pickle

with open('stocks_dic.pkl','wb') as f:
  pickle.dump(stocks_dic,f)